<?xml version="1.0" encoding="utf-8"?><!--
  ~    Calendula - An assistant for personal medication management.
  ~    Copyright (C) 2014-2018 CiTIUS - University of Santiago de Compostela
  ~
  ~    Calendula is free software; you can redistribute it and/or modify
  ~    it under the terms of the GNU General Public License as published by
  ~    the Free Software Foundation; either version 3 of the License, or
  ~    (at your option) any later version.
  ~
  ~    This program is distributed in the hope that it will be useful,
  ~    but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~    GNU General Public License for more details.
  ~
  ~    You should have received a copy of the GNU General Public License
  ~    along with this software.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.usc.citius.servando.calendula"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
<!--    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE"/>-->
<!--    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT"/>-->

<!--    <uses-permission android:name="com.samsung.permission.READ_SM_DATA"/>-->


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".CalendulaApp"
        android:allowBackup="false"
        tools:replace="allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <activity
            android:name=".activities.MaterialIntroActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro"/>

        <activity
            android:name=".activities.CheckBatterySavingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ModalIntro"/>

        <activity
            android:name=".activities.RoutinesActivity"
            android:exported="false"
            android:label="@string/title_activity_routines"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".HomePagerActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activities.MedicineInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_medicines"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.MedicinesActivity"
            android:exported="false"
            android:label="@string/title_activity_medicines"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.MedicinesSearchActivity"
            android:exported="false"
            android:label="@string/title_activity_medicines_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".activities.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".scheduling.AlarmReceiver"
            android:exported="false"/>
        <receiver
            android:name=".scheduling.PickupAlarmReceiver"
            android:exported="false"/>
        <receiver
            android:name=".scheduling.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".drugdb.download.DBDownloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="AEMPS_DB_VERSION"
            android:value="3"/> <!-- 3, 13/10/2015 -->

        <activity
            android:name=".activities.CalendarActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_calendar"/>
        <activity
            android:name=".activities.ScanActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:label="ScanActivity" />

        <activity
            android:name=".activities.PatientDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_patient_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"/>
        <activity
            android:name=".activities.ConfirmActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <service
            android:name=".scheduling.AlarmIntentService"
            android:exported="false"
            android:label="AlarmIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".drugdb.download.InstallDatabaseService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".drugdb.download.UpdateDatabaseService"
            android:exported="false"/>


        <activity
            android:name=".activities.WebViewActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_webview"/>

        <activity
            android:name=".activities.PdfViewActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_pdfview"/>

        <activity
            android:name=".activities.AllergiesActivity"
            android:exported="false"
            android:label="@string/title_activity_allergies"/>
        <activity
            android:name=".activities.AllergiesSearchActivity"
            android:exported="false"
            android:label="@string/title_activity_allergies_search"/>

        <activity
            android:name=".notifications.LockScreenAlarmActivity"
            android:exported="false"
            android:label="@string/title_activity_lock_screen_alarm"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"/>

        <activity android:name=".pinlock.PinLockActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="es.usc.citius.servando.calendula.settings.CalendulaSettingsActivity"
            android:exported="false"
            android:theme="@style/SettingsActivityTheme"/>

        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".login.LoginReceiveActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".activities.schedules.ScheduleBuildActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".login.LogoutActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".login.LogoutReceiveActivity"
            android:exported="true">
            <intent-filter android:label="calendula_logout_filter">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Accepts URIs that begin with "calendula-mp://logout” -->
                <data
                    android:scheme="${OAUTH_LOGOUT_REDIRECT_SCHEME}"
                    android:host="${OAUTH_LOGOUT_REDIRECT_HOST}"/>
            </intent-filter>
        </activity>

        <service
            android:name=".login.InstanceIDService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
